<ion-view view-title="Add">
  <ion-content class="padding" ng-controller="AddCtrl">

    <!--Titel-->
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model="recipe.title">
      <!--  -->
    </label>


    <!-- Foto-Input: Foto machen oder Gallerie -->
    <div class="picture">
    </div>
    <!--Zutaten - TODO:Anderes Format wählen-->
    <div class="ingredients">
      <p>Zutaten</p>
      <div class="ingredient">
        <input class="quantity" type="number" style="display:inline; border:solid;">
        <input class="quantity_unit" type="text" style="display:inline; border:solid;"> <!-- ggf Auswahl aus gegebenen Mengeneinheiten-->
        <input class="name" type="text" style="display:inline; border:solid;">
      </div>
      <button title="Add" class="button button-icon icon ion-plus-round"></button>
    </div>

    <div class="description">
      <p>Beschreibung</p>
      <textarea class="description" type="text" style="border:solid; width:100%; height:100px;" ng-model="recipe.description"></textarea>
    </div>

    <div id="rating_container">
      <p>Rating</p>
      <input id="rating" type="number" style="border:solid;" ng-model="recipe.rating">
    </div>

    <!-- <rating ng-model="data.rating" max="data.max" ></rating> -->
    <button title="Save" class="button " ng-click="add(recipe)">Save</button>

  </ion-content>
</ion-view>
